doctype html
html
    head
        title
    body
        p.
            Kính gửi Anh/Chị!
        p.
            CTV <b>#{user.fullName}</b> - SĐT <b>#{user.tell}</b> vừa thực hiện chuyển tiền thanh toán cho đơn hàng <a href="#{domain}/order/#{order.id}">#{order.code}</a>
            với giá trị đơn hàng <b>#{amount}</b> vào #{orderUpdate}
        p.
            Vui lòng nhấn xác nhận tại đây: <a href="#{domain}/order/#{order.id}">#{order.code}</a>!
        p.
            Trân trọng!
